<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intellix.simpletodo">

    <application
        android:allowBackup="true"
        android:name="com.intellix.simpletodo.SimpleToDoApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="AA_DB_NAME" android:value="SimpleToDo.db"/>
        <meta-data android:name="AA_DB_VERSION" android:value="20" />
        <meta-data android:name="AA_MODELS" android:value="model.TaskModel" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditItemActivity"></activity>
    </application>

</manifest>